.env
.env*
*.log
*.log.*
__pycache__
output
tmp
db
log
venv
play
notebook/\.*
notebook/runtime
notebook/data
notebook/config/migrated
notebook/config/lab
notebook/work
notebook/config/serverconfig
notebook/config/jupyter_server_config.json
